.venv/
__pycache__/
.ipynb_checkpoints/
.env
*.pyc

# Credentials
*.json
credentials/
secrets/

# Local data
**/data/raw/*
**/data/processed/*
!**/data/raw/.gitkeep
!**/data/processed/.gitkeep

# OS / editor
.DS_Store
Thumbs.db